@charset "UTF-8";
.mNoticeBox{
	
	margin: auto;
	margin-top: 10px;
	margin-bottom:10px;
	box-shadow: 0px 0px 5px 1px rgba(55,55,55,0.8);
	color: #000;
	text-align: center;
	width: 375px;
	display: block;
	border-color: #3c3c3c;
	border-style: ridge;
	border-width: 3px;
	border-radius: 7px;
	background-color: #ff4a4a;
	
    text-align: center;
    font-size: 36px;
    color: oldlace;
    text-shadow: 1px 1px 2px #000, 0px 0px 3px #000;	
}

.mNoticeBox h1 {
	font-size: 20px;
	color: #fffee1;
	margin-bottom: 3px;
}
.mNoticeBox p {
	margin-top: 3px;
    font-size: 16px;
	color: #ffd7d7;
	font-weight: 600;
}

@-moz-document url-prefix() {
	
	.mNoticeBox{
	   
	   border-color: #000;
	   border-width: 2px;
	}
	
}