@charset "UTF-8";

nav a {
  text-decoration: none;
}

nav{
    display: flex;
    position: absolute;
    height: 28px;
    width: 340px;
    padding-top: 1px;
    background-color: #555;
    
    border-width: 3px;
    border-style: ridge;
    border-color: #999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

nav ul {
  
    list-style: none;
    margin: 0;
    padding-left: 0;
	min-width:100%;
	z-index: 1;
}

nav li {
  
    display: block;
    float: left;
    padding: 0px 2px 2px 2px;
    position: relative;
	min-width: 25px;
	
	text-align:center;
	color: #fff;
    background-color: #4d5f6c;
    text-decoration: none;
	border-color: #333;
    border-style: ridge;
    border-width: 1px;
    border-radius: 3px;
    transition-duration: 0.5s;
}
nav > ul > li {
	margin-left: 2px;
	
}
nav > ul > li:hover {
	border-color: #333;
	border-style: ridge;
	border-width: 1px;
	border-radius: 5px;
	
}
nav li a {
  color: #fff;
}

nav li:hover {
    background: #55729d;
    cursor: pointer;
	text-shadow: 2px 2px 5px rgba(216, 10, 40, 0.8);
}

nav ul li ul {
    
    visibility: hidden;
    opacity: 0;
  
    position: absolute;
    transition: 0.5s;
    margin-top: 5px;
    left: 0;
    display: none;
}

nav ul li:hover > ul,
nav ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

nav ul li ul li {
	
    clear: both;
    width: 100%;
}
li#language_options{
	padding: 0px;
	width:25px;
	height:24px;
	min-width: 1px; /* this is a Chrome width fix */
}
li#language_options img{
	width: 24px;
	height: 23px;
}
li#language_options > ul{
    display: inline-flex;
}
li#language_options > ul > li{
    margin-top:3px;
    margin-right: 4px;
    width: 50px;
}
li#language_options > ul > li > a > img{
	
    margin:auto;
    margin-top: 3px;
    
}
li#language_options > ul > li > a{
    
}
nav a{
    margin: 0px;
	font-size: 11px;
}