@CHARSET "UTF-8";
/*
    Firefox border fix at the bottom
*/

main#introPage{
    display:block;
    padding: 25px;
    padding-top: 35px;
    margin-top:-36px;
    margin-left: 15px;
    margin-right: 65px;
    
    width: 845px;/*845px*/
    min-height: 500px;
    background-color: #111515;
    border-width: 3px;
    border-style: ridge;
    border-color: #999;
    border-top-style: none;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

h1.introTopHeadline{
    text-align: center;
    font-size: 36px;
    color: oldlace;
    text-shadow: 1px 1px 2px #000, 0px 0px 3px #000;
   
    /* color:  silver; text-shadow: 0px 0px 3px #000, 0px 0px 0px #000;#527d02 #0080c0*/
}

div.locale_select_box{
    margin: auto;
    padding:10px;
    display:block;
    width: 250px;
    background-color: aliceblue;
    border-style: groove;;
    border-radius: 10px;
    border-color: gainsboro;
    
}
div.locale_select_box h2{
    padding-left: 25px;
    margin-bottom: 0px;
}
div.locale_select{
    display:inline-block;
    margin: 15px;
}
div.locale_select h2{
    display: inline-block;
}
div.locale_select_box a{
    font-size: 18px;
}
div.locale_select_box img{
    width: 25px;
    height: 15px;
}
div.locale_select>a>img {
    vertical-align: middle;
}

@-moz-document url-prefix() {
	
	div.locale_select_box{
	   border-width: 2px;
    }
}