@charset "UTF-8";
/*
    Firefox border corection at the bottom

*/
nav a {
  text-decoration: none;
}

nav{
    display: block;
    position: relative;
	
	
    height: 30px;
    margin-right:50px;
    max-width:16cm;
    padding-left: 10px;
    background-color: #555;
    
    border-width: 3px;
    border-style: ridge;
    border-color: #999;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}


nav ul {
  
    list-style: none;
    margin: 0;
    padding-left: 0;
	min-width:100%;
	z-index: 1;
}

nav li {
  
    display: block;
    float: left;
    
    position: relative;
	min-width: 50px;
	padding: 2px 0px 2px 0px;
	text-align:center;
	color: #fff;
    background-color: #4d5f6c;
    text-decoration: none;
	border-color: #333;
    border-style: ridge;
    border-width: 3px;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav > ul > li {
	margin-left: 10px;
	
}
nav > ul > li:hover {
	border-color: #333;
	border-style: ridge;
	border-width: 3px;
	border-radius: 5px;
	
}
nav li a {
    color: #fff;
	padding: 5px 10px 5px 10px;
}

nav li:hover {
    background: #55729d;
    cursor: pointer;
	text-shadow: 2px 2px 5px rgba(216, 10, 40, 0.8);
}

nav ul li ul {
    
    visibility: hidden;
    opacity: 0;
  
    position: absolute;
    transition: 0.5s;
    margin-top: 5px;
    left: 0;
    display: none;
}

nav ul li:hover > ul,
nav ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

nav ul li ul li {
	
    clear: both;
    width: 100%;
}
li#language_options{
	padding: 0px;
	width:25px;
	height:23px;
	min-width: 1px; /* this is a Chrome width fix */
}
li#language_options > ul > li{
	width:100px;
}
li#language_options img{
	width: 24px;
	height: 22px;
}
li#language_options > ul > li:first-child{
	margin-top:-5px; /* quick fix*/
}
li#language_options > ul > li > a > img{
	float:left;
	margin-right:2px;
}

@-moz-document url-prefix() {
    nav {
       border-color: #555;
    }
    
    nav li{
        border-style: solid;
    	border-width: 2px;
    	border-color: #222;
    }
    
    nav li, nav > ul > li:hover {
        border-style: solid;
        border-width: 2px;
        border-color: #222;
    }
}