@CHARSET "UTF-8";

aside#scb{
	z-index:0;
    display:block;
    height:50px;
    width: 50px;
    float: left;
    position: fixed;
    top:50px;
    right: 100px;
    
    background-color: #ff3d37; /* #0080c0 */
    
    border-width: 3px;
    border-style: ridge;
    border-color: #999;
    border-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition-duration: 1s;
    transform: rotate(-40deg);
    overflow: hidden;
    
}
aside#scb:hover{
    height:250px;
    width: 200px;
    transform: rotate(5deg);
    right:50px;
    
}