@charset "UTF-8";

header h1{
	color: #ddddff;
}
header p{
	color:rgba(255,70,70,0.5);
	margin-bottom: 5px;
	position: relative;
	float:left;
	top: -48px;
	left:20px;
	text-shadow: 1px 1px 2px crimson;
}


footer p{
	color: #a0a0a0;
}
footer a{
	color: #a0a0a0;
	font-weight: bold;
	text-decoration: none;
}


h1{
	
	color: #1f1f1f;
}
main h1{
	font-size: 28px;
}
h2{
	
	color: #001b22;
}
main h2{
	font-size: 20px;
}
h3{
	font-size: 16px;
	color: #000f00;
}
h4{
	color: #0f0f00;
}

p{
	color: #003646;
	max-width: 13cm;
}
main p{
	
	padding-left:20px;
}
a{
	color: #001f28;
	text-decoration: none;
	font-weight: 550;
}
main a{
	font-size: 14px;
}
hr{
	border-color: #295454;
	border-width: 2px;
	border-style: outset;
	max-width: 14cm;
	margin-left: 0px;
}
.text_ar{
	text-align: right;
}

span.ttx{
	font-size: 10px;
	vertical-align: top;
}
ul{
	max-width: 13cm;
}

section.Double_headline{
	
}
section.Double_headline > h1{
	letter-spacing: 0.05em;
    margin-bottom: 1px;
}

section.Double_headline > p{
	margin-left:10px;
    font-size: 14px;
	margin-top:0px;
	letter-spacing: 0.05em;
}
